header{
    font-family: cinzel;
    font-size:x-large;
    text-align: center;
}
body {
    max-width: 500px;
    background-image: url('../cit261/watercolor-floral.jpg');
    background-attachment: fixed;
    background-color: #FFFFF4;
}
h1 {
    font-family: cinzel;
    font-size 18px;
    line-height: 15px;
    text-align: center;
    }
p {
    font-family: sans-serif;
    font-size: small;
    line-height: 13px;
    text-align: left;
    text-indent: 1.5em;
   }
a {
     font-size: small;
     padding: 0px 0px 0px 10px;
   }
video {
    width: 100%    !important;
    height: auto   !important;
  }
audio, #myCanvas, #myCanvas2, #myCanvas3 {
    display: block;
    margin: 0 auto;
  }
article, header, div {
    background-color: #99B190;
    width: auto;
    border: 3px solid #627148;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    margin: 15px;
  }
.align-center {
    display: block;
    margin: 1.0em auto;
    text-align: center;
  }  

