header{
    font-family: cinzel;
    font-size:x-large;
    text-align: center;
}
body {
    max-width: 500px;
    background-image: url('../cit261/vintage_floral.jpg');
    background-color: #ECE8EA;
}
h1 {
    font-family: cinzel;
    font-size 18px;
    line-height: 15px;
    text-align: center;
    }
p {
    font-family: sans-serif;
    font-size: small;
    line-height: 13px;
    text-align: center;
   }
a {
     font-size: small;
     padding: 0px 0px 0px 10px;
   }
video {
    width: 100%    !important;
    height: auto   !important;
  }
audio, #myCanvas, #myCanvas2, #myCanvas3 {
    display: block;
    margin: 0 auto;
  }
article, header, div {
    background-color: #CFC4C7;
    width: auto;
    border: 3px solid #9D9497;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    margin: 15px;
  }

